* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #002339;
}

.box {
  margin-left: 300px;
  margin-top: 200px;
}

h1 {
  color: white;
}

span {
  color: #019f55;
  text-decoration: underline;
  line-height: 1.7;
}
input {
  /* height: 50px;
  width: 500px;
  border-radius: 5px; */
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  border: none;
  margin-top: 15px;
  outline: none;
}

.display {
  width: 500px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.display img {
  width: 30px;
  cursor: pointer;
}

button {
  margin-left: 300px;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #019f55;
  color: white;
  border: none;
}
